@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-primary: #FF510C;
    --color-secondary: #FA0606;
    --font-color: var(--color-white);
    --background-color-primary: #000;
}

body {
    color: var(--font-color);
    background-color: var(--background-color-primary);
}

body::after {
    content: "";
    background-image: url("/img/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}

@media screen(sm) {
    .bg-left {
        background-size: 175px;
    }

    .bg-right {
        background-size: 175px;
    }
}

@media screen(md) {
    .bg-left {
        background-size: 200px;
    }

    .bg-right {
        background-size: 200px;
    }
}

@media screen(lg) {
    .bg-left {
        background-size: 225px;
    }

    .bg-right {
        background-size: 225px;
    }
}

@media screen(xl) {
    .bg-left {
        background-size: 250px;
    }

    .bg-right {
        background-size: 250px;
    }
}