@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-primary: #7143ff;
    --color-secondary: #fc5e0e;
    --font-color: var(--color-white);
    --background-color-primary: var(--color-primary);
}

body {
    color: var(--font-color);
    background-color: var(--background-color-primary);
    /*background: linear-gradient(*/
    /*        to bottom,*/
    /*        transparent,*/
    /*        var(--color-secondary)*/
    /*) var(--color-primary);*/
}

.bg-left {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 0;
    z-index: -1;
    background: url("../public/img/bg-left.svg") left/150px no-repeat;
    transform: translate(0, -50%);
}

.bg-right {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    right: 0;
    z-index: -1;
    background: url("../public/img/bg-right.svg") right/150px no-repeat;
    transform: translate(0, -50%);
}

@media screen(sm) {
    .bg-left {
        background-size: 175px;
    }

    .bg-right {
        background-size: 175px;
    }
}

@media screen(md) {
    .bg-left {
        background-size: 200px;
    }

    .bg-right {
        background-size: 200px;
    }
}

@media screen(lg) {
    .bg-left {
        background-size: 225px;
    }

    .bg-right {
        background-size: 225px;
    }
}

@media screen(xl) {
    .bg-left {
        background-size: 250px;
    }

    .bg-right {
        background-size: 250px;
    }
}

.filter-mae {
    filter: invert(100%) sepia(100%) saturate(10000%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.parallelogram {
    height: 650px;
    background-color: #fff;
    background-size: cover;
    transform: skew(-10deg);
    overflow: hidden;
    position: relative;
}

.parallelogram > .candidate {
    width: 650px;
    height: 650px;
    transform: skew(10deg);
}

.percentage-container {
    bottom: 50px;
}

.name-container {
    bottom: 50px;
}

.party {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.party.frente-amplio {
    background-image: url("../public/internas/bg-frente-amplio.jpg");
}

.party.partido-nacional {
    background-image: url("../public/internas/bg-partido-nacional.jpg");
}

.party.partido-colorado {
    background-image: url("../public/internas/bg-partido-colorado.jpg");
}

.cosse {
    background-image: url("../public/internas/candidatos/cosse.jpg");
}

.orsi {
    background-image: url("../public/internas/candidatos/orsi.jpg");
}

.lima {
    background-image: url("../public/internas/candidatos/lima.jpg");
}

.ojeda {
    background-image: url("../public/internas/candidatos/ojeda.jpg");
}

.viera {
    background-image: url("../public/internas/candidatos/viera.jpg");
}

.silva {
    background-image: url("../public/internas/candidatos/silva.jpg");
}

.gurmendez {
    background-image: url("../public/internas/candidatos/gurmendez.jpg");
}

.ache {
    background-image: url("../public/internas/candidatos/ache.jpg");
}

.zaida {
    background-image: url("../public/internas/candidatos/zaida.jpg");
}

.delgado {
    background-image: url("../public/internas/candidatos/delgado.jpg");
}

.raffo {
    background-image: url("../public/internas/candidatos/raffo.jpg");
}

.corbran {
    background-image: url("../public/internas/candidatos/corbran.jpg");
}

.gandini {
    background-image: url("../public/internas/candidatos/gandini.jpg");
}

.iafigliola {
    background-image: url("../public/internas/candidatos/iafigliola.jpg");
}

.party {
    padding-top: 2rem;
}

.party .candidate-name {
    padding-top: 1rem;
    margin-left: -40px;
    width: 100%;
}

.candidate-name .first-name {
    font-size: 1.25rem;
}

.party .candidate-name .last-name {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.25rem;
}

.frente-amplio .parallelogram {
    width: 400px;
}

.party.frente-amplio .candidate {
    margin-left: -135px;
}

.partido-colorado .parallelogram {
    width: 225px;
}

.party.partido-colorado .candidate {
    margin-left: -200px;
}

.partido-nacional .parallelogram {
    width: 275px;
}

.party.partido-nacional .candidate {
    margin-left: -175px;
}

.party .percentage {
    transform: skew(10deg);
    font-size: 3rem;
    font-weight: bold;
    margin: auto;
    color: #fff;
    border-radius: 175px;
    width: 175px;
    height: 175px;
    background-color: #000;
    /*background: linear-gradient(to bottom right, #7143FF, #FC5E0E);*/
}

.zocalo {
    background-position: center;
    background-size: cover;
    height: 150px;
}

.zocalo.frente-amplio {
    background-image: url("../public/internas/bg-zocalo-frente-amplio.jpg");
}

.zocalo.partido-nacional {
    background-image: url("../public/internas/bg-partido-nacional.jpg");
}

.zocalo.partido-colorado {
    background-image: url("../public/internas/bg-partido-colorado.jpg");
}

.zocalo .party-name {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.25rem;
}

.zocalo .candidate {
    height: 150px;
    margin: 0;
    background-position: center top;
    background-size: 250px;
    width: 125px;
}

.zocalo .candidate-name .last-name {
    font-size: 2rem;
}

.zocalo .percentage{
    font-size: 5rem;
    line-height: 5rem;
}
