@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary: #7143ff;
  --color-secondary: #fc5e0e;
  --font-color: var(--color-white);
  --background-color-primary: var(--color-primary);
}

body {
  color: var(--font-color);
  background-color: var(--background-color-primary);
  /*background: linear-gradient(*/
  /*        to bottom,*/
  /*        transparent,*/
  /*        var(--color-secondary)*/
  /*) var(--color-primary);*/
}

.bg-left {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 0;
  z-index: -1;
  background: url("../public/img/bg-left.svg") left/150px no-repeat;
  transform: translate(0, -50%);
}

.bg-right {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  right: 0;
  z-index: -1;
  background: url("../public/img/bg-right.svg") right/150px no-repeat;
  transform: translate(0, -50%);
}

@media screen(sm) {
  .bg-left {
    background-size: 175px;
  }

  .bg-right {
    background-size: 175px;
  }
}

@media screen(md) {
  .bg-left {
    background-size: 200px;
  }

  .bg-right {
    background-size: 200px;
  }
}

@media screen(lg) {
  .bg-left {
    background-size: 225px;
  }

  .bg-right {
    background-size: 225px;
  }
}

@media screen(xl) {
  .bg-left {
    background-size: 250px;
  }

  .bg-right {
    background-size: 250px;
  }
}
